* {
    box-sizing: border-box;
    font-family:  'Roboto', serif;
}

body {
    background-color: #e6e5e5;
    background-image: linear-gradient(0deg, #e6e5e5, #fffbfb);
    background-repeat: no-repeat;
    // min-height: 100vh;
}



// font-family: 'Slabo 27px', serif;
// font-family: 'Open Sans Condensed', sans-serif;