* {
    box-sizing: border-box;
    font-family:  'Roboto', serif;

    padding: 0;
    margin: 0;
}

body {
    // background-color: #e6e5e5;
    // background-image: linear-gradient(0deg, #e6e5e5, #fffbfb);
    background: white;
    background-repeat: no-repeat;
}

.box {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 420px;
}

.header {
    background-image: linear-gradient(0, rgb(228, 228, 109), rgb(91, 235, 91));

    &__title{ 
        line-height: 100px;
    }
}

.content {
    padding-top: 30px;

    &__title {
        margin-bottom: 20px;
    }

    &__photo {
        width: 300px;
        min-height: 180px;
        background-image: linear-gradient(180deg, yellow, orange);
        margin-bottom: 20px;

        &_Cart {
            background: green;
        }

        &_Spoon {
            background: red;
        }

        &_Flower {
            background: orange;
        }

        &_small {
            width: 50px;
            min-height: 50px;
            margin: 0 auto;
        }
    }

    &__text {
        margin-bottom: 30px;
    }
}

.nav {
    display: block;
    margin: 0 auto;
    // position: relative;
    // bottom: 20px;
    // left: 50%;
    // transform: translateX(-50%);
    width: 100%;
    max-width: 315px;

    &__item {
        width: 75px;
        height: 75px;
        display: inline-block;
        background-color: white;
        color: #3B3B3B;

        .st0{fill-opacity:0;}
        .st1{fill:none;stroke:#333333;stroke-width:2;}
        .st2{fill:#333333;}

        // .st0{fill-opacity:0;}
        // .st1{fill:#3B3B3B;}
        // .st2{fill:none;stroke:#FFFFFF;stroke-width:2;}
    
        &_active {
            border: 0.5px solid black;
            box-shadow: none;

            .st0{fill-opacity:0;}
            .st2{fill:none;stroke:#333333;stroke-width:2;}
            .st1{fill:#333333;}
        }
    }
}

#flower-icon {
    .st0{fill-opacity:0;}
    .st1{fill:#3B3B3B;}
    .st2{fill:none;stroke:#FFFFFF;stroke-width:2;}
}

// .nav__item {
//     .st0{fill-opacity:0;}
//     .st1{fill:#3B3B3B;}
//     .st2{fill:none;stroke:#FFFFFF;stroke-width:2;}
// }


// .nav__item_active {
//     .st0{fill-opacity:0;}
// .st1{fill:none;stroke:#333333;stroke-width:2;}
// .st2{fill:#333333;}
// }
// .st0{fill-opacity:0;}
// .st1{fill:#3B3B3B;}
// .st2{fill:none;stroke:#FFFFFF;stroke-width:2;}

// .st0{fill-opacity:0;}
// .st1{fill:none;stroke:#333333;stroke-width:2;}
// .st2{fill:#333333;}

// font-family: 'Slabo 27px', serif;
// font-family: 'Open Sans Condensed', sans-serif;